<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Mac</title>
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/assets/css/cooker.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/drawer.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/docs.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/screen.css" type="text/css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/iscroll.js"></script>
    <script src="/assets/js/jquery.drawer.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/cb-search.js"></script>
</head>
<body data-spy="scroll" data-target="#right_header">
<div>
    <div class="drawer drawer-right">
    {% include navTop.html %}
</div>
    <div id="content">
        <div class="container">
        {% include content.html param=include.param %}
        </div>
    </div>
</div>
</body>
</html>