<div id="header">
    <div class="main-top">
        <a class="avatar" href="/index.html">
            <img src="/assets/themes/darwin/images/e504c85fb1dc.png" alt="240">
        </a>
        <div class="title">
            <a class="name" href="/u/90ab66c248e6">马少波</a>
            <i class="iconfont ic-man"></i>
        </div>
        <div class="info">
            <ul>
                <li>
                    <div class="meta-block">
                        <a href="https://github.com/cnitihc0">
                            GitHub <i class="iconfont ic-arrow"></i>
                        </a></div>
                </li>
                <li>
                    <div class="meta-block">
                        <a href="http://blog.csdn.net/cnitihc0/">
                            CSDN <i class="iconfont ic-arrow"></i>
                        </a></div>
                </li>
                <li>
                    <div class="meta-block">
                        <a href="/users/90ab66c248e6/followers">
                            QQ <i class="iconfont ic-arrow"></i>
                        </a></div>
                </li>
                <li>
                    <div class="meta-block">
                        <a href="/users/90ab66c248e6/followers">
                            WeChat <i class="iconfont ic-arrow"></i>
                        </a></div>
                </li>
            </ul>
            <div style="margin-bottom: 10px;line-height: 20px;font-size: 14px;color: #666;">个人介绍:知识的搬运工</div>
        </div>
    </div>
    <a href="javascript:openMenu();" onmouseover="rollOver(this);" onmouseout="rollOut(this);">
        <!--<img src="/assets/themes/darwin/images/b_allposts_off.png" border="0" alt="按CTRL" id="b_allposts"-->
            <!--style="opacity: 1;">-->
    </a>
</div>