
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的个人博客</title>
<link rel="stylesheet" href="/assets/themes/darwin/style.css" type="text/css"
      media="screen">
<link rel="stylesheet" type="text/css" href="/assets/themes/darwin/js/shadowbox-build-3.0b/shadowbox.css">
<link rel="shortcut icon" type="image/ico" href="/assets/themes/darwin/images/favicon2.ico">
<script src="/assets/themes/darwin/js/jquery-1.3.2.min.js" content="text/javascript"></script>
<script src="/assets/themes/darwin/js/jquery.scrollTo-min.js" content="text/javascript"></script>
<script src="/assets/themes/darwin/js/core.js" content="text/javascript"></script>
<script type="text/javascript" src="/assets/themes/darwin/js/shadowbox-build-3.0b/shadowbox.js"></script>
<script type="text/javascript">
  Shadowbox.init({
    handleOversize: "drag",
    overlayColor: "#E3F0EF",
    autoplayMovies: true,
    modal: false,
    players: ['img', 'iframe', 'swf', 'html']
  });
</script>
<script src="/assets/themes/darwin/js/shadowbox-build-3.0b/languages/shadowbox-en.js"></script>
<script src="/assets/themes/darwin/js/shadowbox-build-3.0b/players/shadowbox-img.js"></script>
<script src="/assets/themes/darwin/js/shadowbox-build-3.0b/players/shadowbox-iframe.js"></script>
<script src="/assets/themes/darwin/js/shadowbox-build-3.0b/libraries/swfobject/swfobject.js"></script>
<script src="/assets/themes/darwin/js/shadowbox-build-3.0b/players/shadowbox-swf.js"></script>
<script src="/assets/themes/darwin/js/shadowbox-build-3.0b/players/shadowbox-html.js"></script>
<script src="/assets/themes/darwin/js/shadowbox-build-3.0b/adapters/shadowbox-jquery.js"></script>
<link rel="dns-prefetch" href="//s.w.org">
<script type="text/javascript">
  window._wpemojiSettings = {
    "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/",
    "ext": ".png",
    "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/",
    "svgExt": ".svg",
    "source": {"concatemoji": "http:\/\/wireframes.linowski.ca\/wp-includes\/js\/wp-emoji-release.min.js"}
  };
  !function (a, b, c) {
    function d(a) {
      var b, c, d, e, f = String.fromCharCode;
      if (!k || !k.fillText)return !1;
      switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) {
        case"flag":
          return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356, 57096), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 55356, 57096), 0, 0), c = j.toDataURL(), b !== c);
        case"emoji4":
          return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507), 0, 0), e = j.toDataURL(), d !== e
      }
      return !1
    }

    function e(a) {
      var c = b.createElement("script");
      c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
    }

    var f, g, h, i, j = b.createElement("canvas"), k = j.getContext && j.getContext("2d");
    for (i = Array("flag", "emoji4"), c.supports = {
      everything: !0,
      everythingExceptFlag: !0
    }, h = 0; h < i.length; h++)c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]);
    c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () {
      c.DOMReady = !0
    }, c.supports.everything || (g = function () {
      c.readyCallback()
    }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () {
      "complete" === b.readyState && c.readyCallback()
    })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
  }(window, document, window._wpemojiSettings);
</script>
<script src="http://wireframes.linowski.ca/wp-includes/js/wp-emoji-release.min.js" type="text/javascript"
        defer=""></script>
<style type="text/css">
  img.wp-smiley,
  img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
  }
</style>
<link rel="stylesheet" id="wpt-twitter-feed-css"
      href="/assets/themes/darwin/plugins/wp-to-twitter/css/twitter-feed.css" type="text/css"
      media="all">
<link rel="stylesheet" id="wp-pagenavi-css"
      href="/assets/themes/darwin/plugins/wp-pagenavi/pagenavi-css.css" type="text/css"
      media="all">
<link rel="stylesheet" id="wordpress-popular-posts-css"
      href="/assets/themes/darwin/plugins/wordpress-popular-posts/style/wpp.css" type="text/css"
      media="all">
<link rel="https://api.w.org/" href="http://wireframes.linowski.ca/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://wireframes.linowski.ca/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml"
      href="http://wireframes.linowski.ca/wp-includes/wlwmanifest.xml">
<meta name="generator" content="WordPress 4.7.2">
<link rel="canonical" href="http://wireframes.linowski.ca/2014/04/my-sketchbook-color-coding/">
<link rel="shortlink" href="http://wireframes.linowski.ca/?p=4655">
<link rel="alternate" type="application/json+oembed"
      href="http://wireframes.linowski.ca/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwireframes.linowski.ca%2F2014%2F04%2Fmy-sketchbook-color-coding%2F">
<link rel="alternate" type="text/xml+oembed"
      href="http://wireframes.linowski.ca/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwireframes.linowski.ca%2F2014%2F04%2Fmy-sketchbook-color-coding%2F&amp;format=xml">
<!-- WordPress Popular Posts v3.3.4 -->
<script type="text/javascript">

  var sampling_active = 0;
  var sampling_rate = 100;
  var do_request = false;

  if (!sampling_active) {
    do_request = true;
  } else {
    var num = Math.floor(Math.random() * sampling_rate) + 1;
    do_request = ( 1 === num );
  }

  if (do_request) {
  }

</script>
<!-- End WordPress Popular Posts v3.3.4 -->


<script type="text/javascript">
  function recordOutboundLink(category, action, link) {
    _gaq.push(['_trackEvent', category, action, link]);
    setTimeout('document.location = "' + link + '"', 100);
  }
</script>

<script src="/assets/themes/darwin/js/ads.js" content="text/javascript"></script>
