<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的个人博客</title>
<link rel="stylesheet" href="/assets/themes/darwin/style.css" type="text/css"
      media="screen">
<link rel="shortcut icon" type="image/ico" href="/assets/themes/darwin/images/favicon2.ico">
<script src="/assets/themes/darwin/js/jquery-1.3.2.min.js" content="text/javascript"></script>
<script src="/assets/themes/darwin/js/jquery.scrollTo-min.js" content="text/javascript"></script>
<script src="/assets/themes/darwin/js/core.js" content="text/javascript"></script>
<link rel="stylesheet" id="wp-pagenavi-css"
      href="/assets/themes/darwin/plugins/wp-pagenavi/pagenavi-css.css" type="text/css"
      media="all">

<script src="/assets/themes/darwin/js/ads.js" content="text/javascript"></script>
