<div id="menu" class="colorlinks" style="z-index: 1000000; opacity: 1; display: block;background-color: white;">
    <div id="menuHolder">
        <div class="menuArrow" id="arrowUp"><img src="/assets/themes/darwin/images/arrowUp.jpg"></div>
        <br>
        <div id="menuContent">
            <ul id="menu_ul">
                {% for post in site.posts %}
                <li>
                    <a href="{{post.url}}" rel="bookmark"
                       title="{{post.title}}"><font><font>{{post.title}}</font></font>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <div class="menuArrow" id="arrowDown"><img src="/assets/themes/darwin/images/arrowDown.jpg"></div>

    </div>
</div>