<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div>
        <input type="text" class="form-control cb-search-content" id="cb-search-content" style=" top: 30px"
               placeholder="文章标题 日期 标签">
    </div>
</div>
<link rel="stylesheet" href="/assets/css/cb-search.css">

<script src="/assets/js/bootstrap3-typeahead.min.js"></script>
<script src="/assets/js/cb-search.js"></script>

<!-- 代码 开始 -->
<div class="drawer-toggle drawer-hamberger"><span></span></div>
<header id="right_header" class="drawer-main navbar-default right_panel">
    <a href="#" class="image avatar"><img src="/assets/images/index/0278.JPG" alt=""></a>
    <h1 style="font-size: 20px;"><strong>I am MaShaobo</strong>, a super simple<br>
        programmer<br>
    </h1>
    <nav class="drawer-nav" role="navigation">
        <div>
            <ul class="nav navbar-nav" >
                {% for categorie in site.categories %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{categorie[0]}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="dropdownMenu1">
                        {% for post in categorie[1] %}
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ post.url }}">{{post.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                <li><a href="#">关于</a></li>
                <li><a href="javascriopt:void(0)" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="javascriopt:void(0)" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>

        </div>
    </nav>
</header>

<header class="main-header"
        style="background-image: url(/assets/images/index/fcb3879e14429d75833a461572e64.jpg);">
    <div class="container" style="height:100px;">
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>
    </div>
</header>

<div style="position: fixed; right: 16px; bottom: 20px;z-index: 99">
    <img data-toggle="modal" data-target="#myModal" src="/assets/images/search/6E7939783938.png" id="cb-search-btn" title="双击ctrl试一下" style="height: 38px;background-color: transparent; border-radius: 6px;">
</div>

<div id="back">
    <ul><li><i class="icon-reply"></i></li></ul>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.drawer').drawer();
        $('.js-trigger').click(function () {
            $('.drawer').drawer("open");
        });
        $('#back ul').click(function () {
            window.history.back();
        });

    });

</script>
