<div id="sidebar">
    <ul>
        <li>
            {% for category in site.categories %}
            <a href="#" onmouseover="rollOver(this);" onmouseout="rollOut(this);"><img class="sidebar_icon"
                    src="/assets/themes/darwin/images/{{category[0]}}.png" border="0" alt="{{category[0]}}"></a><br>
            {% endfor %}
            <br>
            <br><img src="/assets/themes/darwin/images/search.jpg"><br>
            <form method="get" action="/">
                <div class="sbWrap"><input type="text" value="" name="s" id="s" class="searchBox" border="0">
                </div>
            </form>

            <br>
            <br><br>
            <img src="/assets/themes/darwin/images/tags.jpg">

            <ul class="st-tag-cloud">

                {% for tag in site.tags %}
                <li><a href="#" id="tag-link-5" class="st-tags t10" rel="tag"
                       style="font-size:14px; color:#376c68;"><font><font>{{tag[0]}}</font></font></a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>